db.sqlite3
*.log
*.pot
*.pyc
pycache
media
*.py[cod] 
*$py.class
.env 
.venv 
env/ 
venv/ 
ENV/ 
media/
env.bak/ 
venv.bak/ 
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
.vscode/
__pycache__/*
__pycache__/

return-again.txt